*.mkv filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
src/TV[[:space:]]Shows/FRIENDS/Season[[:space:]]1/videos/[freemake.com[[:space:]]LOGO][[:space:]]Friends.S01E01.720p.English.MoviesFlix.mp4 filter=lfs diff=lfs merge=lfs -text
